In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg3-binary

In [ ]:
pip install ipython-sql

In [2]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [3]:
%sql postgresql://postgres:@localhost:5432/store

In [ ]:
%%sql
CREATE TABLE customer (
    Customer_id VARCHAR(225) PRIMARY KEY,
    Customer_name VARCHAR(255),
    Segment VARCHAR(225)
)

In [ ]:
%%sql
INSERT INTO customer (
    customer_id,
    customer_name,
    segment
)
SELECT 
    customer_id,
    customer_name,
    segment
FROM Stores
WHERE NOT EXISTS (
    SELECT 1 
    FROM customer
    WHERE customer.customer_id = Stores.customer_id
);

 * postgresql://postgres:***@localhost:5432/store
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(CG-12520) already exists.

[SQL: INSERT INTO customer (
    customer_id,
    customer_name,
    segment
)
SELECT
    customer_id,
    customer_name,
    segment
FROM Stores
WHERE NOT EXISTS (
    SELECT 1
    FROM customer
    WHERE customer.customer_id = Stores.customer_id
);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [16]:
%%sql
CREATE TABLE delivery(
    Delivery_id SERIAL PRIMARY KEY,
    Customer_id VARCHAR(255),
    City VARCHAR(255),
    State VARCHAR(255),
    Postal_code INT,
    Region VARCHAR(255),
    FOREIGN KEY (Customer_id) REFERENCES customer(Customer_id)
)

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [20]:
%%sql
CREATE TABLE orders(
    Order_id  VARCHAR(255) PRIMARY KEY,
    Customer_id VARCHAR,
    Delivery_id INT,
    Order_date DATE,
    Ship_date DATE,
    Ship_mode VARCHAR(255),
    FOREIGN KEY (Customer_id) REFERENCES customer(Customer_id),
    FOREIGN KEY (Delivery_id) REFERENCES delivery(Delivery_id)
)

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [21]:
%%sql
CREATE TABLE products(
    Product_id VARCHAR(255) PRIMARY KEY,
    Product_name VARCHAR(255),
    Category VARCHAR(255),
    Sub_category VARCHAR(255)
)

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [23]:
%%sql
CREATE TABLE order_details(
    Order_id VARCHAR(255),
    Product_id VARCHAR(255),
    Sales FLOAT,
    Quantity INT,
    Discount FLOAT,
    Profit FLOAT,
    CONSTRAINT order_key PRIMARY KEY (Order_id, Product_id),
    FOREIGN KEY (Order_id) REFERENCES orders(Order_id),
    FOREIGN KEY (Product_id) REFERENCES products(Product_id)
)

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [9]:
%%sql
CREATE TABLE IF NOT EXISTS Stores (
    RowID INTEGER,
    Order_id VARCHAR(50),
    Order_date DATE,
    Ship_date DATE,
    Ship_mode VARCHAR(255),
    Customer_id VARCHAR(225),
    Customer_name VARCHAR(255),
    Segment VARCHAR(255),
    Country VARCHAR(255),
    City VARCHAR(255),
    State VARCHAR(255),
    Postal_code VARCHAR(255),
    Region VARCHAR(255),
    Product_id VARCHAR(225),
    Category VARCHAR(255),
    Sub_category VARCHAR(255),
    Product_name VARCHAR(255),
    Sales FLOAT,
    Quantity INT,
    Discount FLOAT,
    Profit FLOAT
);

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [11]:
%%sql
COPY Stores FROM '/Users/tshmacm1168/Downloads/store - Superstore.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/store
9994 rows affected.

[]