In [2]:
pip install sqlAlchemy

Requirement already satisfied: sqlAlchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlAlchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:@localhost:5432/store

In [72]:
%%sql
CREATE TABLE IF NOT EXISTS Superstore (
    RowID INTEGER,
    OrderID VARCHAR(50),
    OrderDate DATE,
    ShipDate DATE,
    ShipMode VARCHAR(255),
    CustomerID VARCHAR(225),
    CustomerName VARCHAR(255),
    Segment VARCHAR(255),
    Country VARCHAR(255),
    City VARCHAR(255),
    State VARCHAR(255),
    PostalCode VARCHAR(255),
    Region VARCHAR(255),
    ProductID VARCHAR(225),
    Category VARCHAR(255),
    SubCategory VARCHAR(255),
    ProductName VARCHAR(255),
    Sales FLOAT,
    Quantity INT,
    Discount FLOAT,
    Profit FLOAT
);

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [73]:
%%sql
COPY Superstore FROM '/Users/tshmacm1172/Downloads/SUPERS.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/store
9994 rows affected.

[]

In [78]:
%%sql
CREATE TABLE  customers (
customerid VARCHAR(225) Primary Key,
customername VARCHAR(225) NOT NULL,
Segment VARCHAR(225)                                                               
);

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [81]:
%%sql
INSERT INTO customers (customerid, customername, segment)
SELECT customerid, customername, segment
FROM superstore
ON CONFLICT (customerid) DO NOTHING;

 * postgresql://postgres:***@localhost:5432/store
793 rows affected.

[]

In [94]:
%%sql
CREATE TABLE ORDERS (
    orderid VARCHAR(225) PRIMARY KEY,
    customerid VARCHAR(225),
    Delivery_Address_ID INT,
    orderdate DATE,
    shipdate DATE,
    shipmode VARCHAR(225),
    City VARCHAR(225),
    State VARCHAR(225),
    Postal_Code INTEGER,
    Region VARCHAR(225),
    FOREIGN KEY (customerid) REFERENCES customers(customerid)
);

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [102]:
%%sql
INSERT INTO orders (
    orderid,
    customerid,
    delivery_address_id,
    orderdate,
    shipdate,
    shipmode,
    city,
    state,
    postal_code,
    region
)
SELECT 
    customerid,
    delivery_address_id,
    orderdate,
    shipdate,
    shipmode,
    city,
    state,
    postal_code,
    region
FROM superstore
WHERE customerid IN (SELECT customerid FROM customers);

 * postgresql://postgres:***@localhost:5432/store
(psycopg2.errors.UndefinedColumn) column "delivery_address_id" does not exist
LINE 15:     delivery_address_id,
             ^
DETAIL:  There is a column named "delivery_address_id" in table "orders", but it cannot be referenced from this part of the query.

[SQL: INSERT INTO orders (
    orderid,
    customerid,
    delivery_address_id,
    orderdate,
    shipdate,
    shipmode,
    city,
    state,
    postal_code,
    region
)
SELECT
    customerid,
    delivery_address_id,
    orderdate,
    shipdate,
    shipmode,
    city,
    state,
    postal_code,
    region
FROM superstore
WHERE customerid IN (SELECT customerid FROM customers);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [101]:
%%sql
CREATE TABLE ORDER_DETAIL (
    orderid VARCHAR(225),
    productid VARCHAR(225),
    Sales FLOAT,
    Quantity INTEGER,
    Discount FLOAT,
    Profit FLOAT,
    CONSTRAINT ORDER_KEY PRIMARY KEY (orderid, productid),
    FOREIGN KEY (orderid) REFERENCES ORDERS(orderid),
    FOREIGN KEY (productid) REFERENCES PRODUCT(productid)
);

 * postgresql://postgres:***@localhost:5432/store
(psycopg2.errors.DuplicateTable) relation "order_detail" already exists

[SQL: CREATE TABLE ORDER_DETAIL (
    orderid VARCHAR(225),
    productid VARCHAR(225),
    Sales FLOAT,
    Quantity INTEGER,
    Discount FLOAT,
    Profit FLOAT,
    CONSTRAINT ORDER_KEY PRIMARY KEY (orderid, productid),
    FOREIGN KEY (orderid) REFERENCES ORDERS(orderid),
    FOREIGN KEY (productid) REFERENCES PRODUCT(productid)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [99]:
%%sql
CREATE TABLE PRODUCT(
productid VARCHAR(225) PRIMARY KEY,
productname VARCHAR(225),
Category VARCHAR(225),
subcategory VARCHAR(225)
)

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [88]:
%%sql
CREATE TABLE DeliveryAddresses (
    DeliveryAddressID SERIAL PRIMARY KEY,
    customerid VARCHAR(225),
    City VARCHAR(255),
    State VARCHAR(255),
    PostalCode VARCHAR(20),
    Region VARCHAR(255),
    Country VARCHAR(255),
    FOREIGN KEY (customerid) REFERENCES customers(customerid)
);

 * postgresql://postgres:***@localhost:5432/store
Done.

[]

In [104]:
%%sql
INSERT INTO DeliveryAddresses (customerid, City, State, PostalCode, Region, Country)
SELECT 
    customerid,    -- From the 'store' table
    City,          -- From the 'store' table
    State,         -- From the 'store' table
    PostalCode,    -- From the 'store' table
    Region,        -- From the 'store' table
    'United States' -- Assuming the country is United States for all entries
FROM superstore
WHERE customerid IN (SELECT customerid FROM customers);

 * postgresql://postgres:***@localhost:5432/store
9994 rows affected.

[]